{extend name="common/base"}

{block name="main"}
<el-dialog title="添加用户" :visible.sync="dialogFormVisible">
    <user-add/>
</el-dialog>

<el-row style="padding: 20px 0 30px;">
    <el-col>
        <el-card shadow="never">
            <span>{$title}</span>
            <el-button style="float: right; padding: 3px 0" type="text"  @click="dialogFormVisible = true">新增</el-button>
        </el-card>
    </el-col>
</el-row>
<el-row>
    <template>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="用户名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="手机">
            </el-table-column>
            <el-table-column
                    prop="create_time"
                    label="日期"
                    width="180">
            </el-table-column>

            <el-table-column
                    fixed="right"
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                    <el-button type="text" size="small">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</el-row>
<el-row style="padding-top: 20px;text-align: center">
    <el-pagination
            background
            layout="prev, pager, next"
            :total="1000">
    </el-pagination>
</el-row>
{/block}

{block name="component"}
{__block__}
{include file="user/components/add"}
{/block}

{block name="script"}
{__block__}
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            dialogFormVisible: false,
            msg: 'KNIFE CRM',
            tableData: JSON.parse('{$all|raw}')
        },
        methods: {

        }
    });
</script>
{/block}